*{
  margin:0;
  padding: 0;
}
.layoutContainer {
  width: 70%;
  margin: 0 auto;
  background: #EFEFEF;
}
.grid-layoutcontainer {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 10rem 10rem 10rem;
  column-gap: 1px;
  row-gap: 1px;
  margin: 0em 0em 2em 4em;
}
header {
  border: 1px solid #FFF;
  margin: 0;
  padding: 0em;
  border-bottom: 0;
}
footer{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center ;
}
footer p{
  padding-bottom:20px;
}
.divider {
  background: #333;
  height: 7px;
  opacity: 0.44;
  margin-bottom: -7px;
}
.grid-layoutitem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 80px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.item1{
  background-color: #6F98A8;
}
.item2{
  background-color: #2B8EAD;
}
.item3{
  background-color: #2F454E;
}
.item4{
  background-color: #BFBFBF;
}
.appHeader {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.buttonContainer {
  float: right;
  padding: 20px;
}

.ShuffleandSortbutton {
  display: block;
  margin:10px 0;
  width: 230px;
  position: relative;
  top: 0px;
  font-size: 16px;
  text-transform: uppercase;
  background: #F7F7F7;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #C4C4C4;
  text-shadow: 1px 1px 1px #FFF;
  padding: 0.8em 2em;
  background-color: #72C3DC;
  color:#CCC;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ShuffleandSortbutton :active{
  border-color: #49B2D2;
}

@media (min-width:100px) and (max-width:960px) {
  .layoutContainer{
    width: 100%;
    background: #FFF;
  }
  .appHeader{
    padding: 15px 0;
    font-size: 16px;
    background: #333;
    color:#FFF
  }
  .divider{
    background: transparent;
  }
  .buttonContainer {
    float: none;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: center;
  }
  .ShuffleandSortbutton {
    width: 140px;
    font-size: 12px;
    margin: 2px;
  }
  .grid-layoutcontainer{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: block;
    float: left;
  }
  .grid-layoutitem {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 90%;
    margin: 0 auto 3px auto;
    padding: 12px 0 12px 10px;
    color: #000;
    background-color: #EFEFEF;
    position: relative;
  }
  .grid-layoutitem::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      display: block;
      float: none;
  }
  .grid-layoutitem.item1::after{
    background-color: #6F98A8;
  }
  .grid-layoutitem.item2::after{
    background-color: #2B8EAD;
  }
  .grid-layoutitem.item3::after{
    background-color: #2F454E;
  }
  .grid-layoutitem.item4::after{
    background-color: #BFBFBF;
  }
}

@media (min-width:961px) and (max-width:1138px){
  .ShuffleandSortbutton {
    width: 190px;
    font-size: 12px;
    margin: 10px;
  }
  .buttonContainer{
    padding:20px;
    float: right;
  }
  .grid-layoutcontainer{
    grid-template-columns: 8.25rem 8.25rem 8.25rem;
    grid-template-rows: 8.25rem 8.25rem 8.25rem;
  }
}